langchain_community==0.2.6
langchain_core==0.2.10
langchain_openai==0.1.13
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
pywin32==306
soundfile==0.12.1
SpeechRecognition==3.10.3
websockets==11.0.3
